.button{
    margin-bottom: 20px;
}
.img1{
position:relative;
width:20px;
height:20px;
left:10px;
}
.img2{
 position:relative;
width:20px;
height:20px;
left:30px;
}
.img3{
position:relative;
width:20px;
height:20px;
left:40px;
}
.basic>.button:hover+.img1{
    position: absolute;
    top: 50px;
    left: 0px;
}
.basic>.button:hover~.img2{
    position: absolute;
    top: 500px;
    left: 0px;
}
.basic>.button:hover~.img3{
    position: absolute;
    top: 900px;
    left: 0px;
}
